.container{display:grid;
    grid-template-columns: repeat(4, min(250px));
    grid-template-rows:1fr;
    align-items:start;
    gap:50px;
}

.container:first-child{
    margin-top: 50px;
}

.bookcard{
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border: 1px solid black;
    height:250px;
    width:250px;
    padding:20px;
    font-size:14px;

}


.checkboxbox,.removebutton{margin-top:20px;}

.removebutton{margin-bottom:20px;}

p{margin:10px;}

.form-booktitle, .form-bookauthor, .form-bookpages{
    margin-top:15px;
}


.form-bookread{display:flex;
justify-content:flex-start;
align-items:center;
margin:15px 0px}

form{display:flex;
flex-direction:column;
}

#yes-label, #no-label{
    margin-left:10px;
}

input{
    margin-left:20px;
}

#submit-btn{
    width:125px;
    height:35px;
    margin-bottom:50px;
    border-radius:10px;
}