.container{display:grid;
    grid-template-columns: repeat(4, min(250px));
    grid-template-rows:1fr;
    align-items:start;
    gap:50px;
}

.container:first-child{
    margin-top: 50px;
}

.bookcard{
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border: 1px solid black;
    height:250px;
    width:250px;
    padding:20px;
    font-size:14px;

}


.checkboxbox,.removebutton{margin-top:20px;}

.removebutton{margin-bottom:20px;}

p{margin:10px;}